<p>For help navigating this site, visit the <a href="{{ "infoPages/06-Navigation.html" | absolute_url }}">Site Navigation and Tips</a> page</p>

<p>In Spring of 2022, UW Stout professors Oai Ha, Keif Oss, and Seth Berrier started
a research project to explore how a virtual tour of the campus central heating plant could
help enhance learning outcomes in an undergraduate course in thermodynamics. This site
is the ongoing work of that project and will provide a way to explore the central
heating plan on the Stout campus and to learn about and assess basic thermodynamics
concepts demonstrated in the plant.</p>

<p>This work is funded by a grant from the
<a href="https://wi.my.xcelenergy.com/s/community/foundation" target="_blank">Xcel Energy Foundation</a>
</p>
