<head>
  <title>
    {% if include.page.title %}
      {{ include.page.title }} |
    {% endif %}
    {{ site.title }}
  </title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="icon" type="image/x-icon" href="{{ "assets/images/favicon.ico" | relative_url }}">
  <!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}"/>
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->

  {% if include.page.tourPano or include.page.assessment %}
  <style>
    .floatingOverlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0%;
      height: 0%;
      margin: 0px;
      padding: 0px;
      text-align: center;
      overflow: hidden;
    }

    #overlayCloseButton {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: none;
      z-index: 1;
      background-color: rgb(42, 47, 74);
    }
  </style>
  {% endif %}
</head>
