/* TourButton */

	.tourButton {
    @include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'box-shadow #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
    cursor: pointer;
    &:hover {
			box-shadow: inset 0 0 0 2px _palette(highlight);
			color: _palette(highlight);
    }
	}
